<ion-tabs>    
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="categories">
      <ion-icon name="home"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="playground">
      <ion-icon name="build"></ion-icon>
      <ion-label>Playground</ion-label>
    </ion-tab-button>    
  </ion-tab-bar>
</ion-tabs>


